.container {
    font-family: "courier new", monospace;
    font-size: 16px;
}

.bolder {
    font-size: 20px;
    font-weight: bolder;
}

.locationText {
    font-size: 12px;
}

.status {
    margin-left: 10px;
}