@media only screen and (max-width: 600px) {
    .d-flex {
        flex-wrap: wrap;
    }

    .w-25, .w-75 {
        margin: auto !important;
    }

    .w-25, .w-75 {
        width: 100% !important;
    }
}