<div>
    <div class="w-100 mt-3">
        <app-filters-bar (filtersClickEvent)="onFiltersClickEvent($event)"></app-filters-bar>
    </div>
    <div class="w-100 d-flex">
        <div class="w-75 m-3">
            <app-table (rowClickEvent)="onRowClicked($event)" [filters]="filters"></app-table>
        </div>
        <div class="w-25">
            <div class="mt-3">
                <button mat-raised-button color="warn" [matMenuTriggerFor]="charts">Charts</button>
                <mat-menu #charts="matMenu">
                    <button mat-menu-item (click)="loadPieChart()">Pie Chart</button>
                    <button mat-menu-item (click)="loadBarChart()">Bar Chart</button>
                </mat-menu>
            </div>
            <div *ngIf="displayPieChart">
                <app-pie-chart [datasetLabels]="datasetLabels" [data]="data" [chartLabel]="chartLabel"></app-pie-chart>
            </div>
            <div *ngIf="!displayPieChart">
                <app-bar-chart [datasetLabels]="datasetLabels" [data]="data" [chartLabel]="chartLabel"></app-bar-chart>
            </div>
        </div>
    </div>
</div>