table {
    width: 75%;
    font-family: "courier new", monospace;
}

.status {
    font-weight: bolder;
}

.mat-mdc-form-field {
    font-size: 16px;
    width: 100%;
    font-family: "courier new", monospace;
}

td,
th {
    width: 10%;
    font-family: "courier new", monospace;
}

th {
    font-weight: 700;
}