<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">
                <a href="javascript:;" (click)="openDialog(row)">{{row.name}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
            <td mat-cell *matCellDef="let row">
                {{row.region}}
                <i class="bi bi-sign-turn-right-fill" matTooltip="get directions" (click)="redirectToGoogleMaps(row.latitude, row.longitude)"></i>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row" [ngClass]="getStatusClass(row.status)" class="status">
                {{row.status.toUpperCase()}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="launches">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Launches </th>
            <td mat-cell *matCellDef="let row"> {{row.launches}} </td>
        </ng-container> -->

        <ng-container matColumnDef="launches">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Launches </th>
            <td mat-cell *matCellDef="let row" class="py-2">
                <div *ngIf="row.launches">
                    {{ row.launches.slice(0, 3).join(', ') }}
                    <span *ngIf="row.launches.length > 3">
                        ...
                    </span>
                </div>
                <div *ngIf="row.launches.length === 0">
                    <span class="text-danger">
                        No Launches
                    </span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-3 text-danger" colspan="4">No data matching the filter <span class="fw-bolder">"{{input.value}}"</span></td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>